body{
    font-size: 18px;
    margin: 0;
    padding: 0;
    font-family: verdana;
}
a{
    font-size: 15px;
    color: white;
    text-decoration: none;
}
.button{
    background-color: tomato;
    padding: 15 40;
    border: none;
    border-radius: 5px;
}
.small-paragraph{
    font-size: 15px;
}
/**======================================================

                      First Section

========================================================**/
.section-1{
    display: flex;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 5%;
}
.stay-focused{
    text-align: justify;
    margin-right: 5%;
    width: 55%;
    padding: 30px;
}
.mission-2022{
    color: orange;
}
.fast-tittle{
    font-family: poppins;
    border-left: 3px solid;
    border-color: tomato;
    padding-left: 5px;
    font-size: 30;
    line-height: 30px;
}
.stay-focused p{
    font-size: ;
}
.image-1{
    width: 40%;
}
.image-1 img{
    width: 100%;
}
/**==================================================

                         2nd Section

======================================================**/
.section-2{
    margin-left: 10%;
    margin-right: 10%;
}
.section-2 h1{
    font-size: 35px;
    margin-bottom: 80px;
    text-align: center;
}
.section-2 h1 span{
    color: orange;
}
.boxs{
    margin: 0 auto;
    width: 100%;
    font-size: 15px;
    display: flex;
    
}
.mission-box{
    border-radius: 30px;
    padding: 10 15;
    width: 30%;
    margin-right: 15px;
    background-color: lightcyan;
}
.vission-box{
    border-radius: 30px;
    padding: 10 15;
    width: 30%;
    margin-right: 15px;
    margin-left: 15px;
    background-color: mistyrose;
}
.goals-box{ 
    border-radius: 30px;
    padding: 10 15;
    width: 30%;
    margin-left: 15px;
    background-color: seashell;
}
.imgess{
    width: 50%;
}
/**==============================================

                     3rd Section

=================================================**/
.section-3{
    display: flex;
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;
}
.image-2{
    width: 40%;
}
.image-2 img{
    width: 100%;
    border-radius: 20px;
}
.develop-limits h2{
    font-size: 30;
}
.develop-limits{
    text-align: justify;
    padding: 20px 5px;
    margin-left: 5%;
    width: 55%;
}
/**================================================

                  4th Section

====================================================**/

.section-4{
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
}
.global-community{
    margin-right: 5%;
    text-align: justify;
    width: 55%;
    padding: 15px;
}
.global-community h2{
    font-size: 30;
}
.image-3{
    width: 40%;
}
.image-3 img{
    width: 100%;
    border-radius: 20px;
}
/**====================================================

                    5th section
============================================================**/
.section-5{
    background-image: url(img/123.jpg);
    margin-top: 5%;
    display: flex;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.agency-info{
    color: white;
    text-align: center;
    margin-left: 10%;
    width: 80%;
    padding-bottom: 100px;
    padding-top: 100px;
}
.last-button{
    background-color: tomato;
    border: none;
    border-radius: 5px;
    padding: 15 40;
    transition: 0.5s;
}
.agency-info h2{
    color:orange;
}
.agency-info h2 span{
    color: white;
}
.last-button:hover {
    background-color: orange;
    border-radius: 60px;
    transition: 0.5s;
}
/**==============================================

                     Footer area

==================================================**/
footer{
    color: white;
    background-color: black;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.footer h1{
font-family:monospace;
}
.footer{
    padding: 20px;
}
.footer span{
    color: orange;
}